
 <div class="row"> 
    <div class="col s12 m12">
     
    </div>
  </div>

 <div class="row">
       <div class="col s12 m3" style="">       
           <ul class="collection">
            <li class="collection-item">
              <%= link_to "Profile", user_dashboard_path %>
            </li>
            <li class="collection-item">
              <%= link_to "Messages", user_messages_path %>
            </li>
             <li class="collection-item">
              <%= link_to "Listings", listings_path %>
            </li>
             <li class="collection-item">
              <%= link_to "Profile", user_dashboard_path %>
            </li>
          </ul>  
    </div>
    <%= link_to 'New Listing', new_listing_path %>
    <div class="col s12 m9">
        <% @listings.each do |listing| %>
        <% @pic = listing.pictures.first%>   
          <div class="card-panel grey lighten-5" style="padding: 10px">
            <div class="row" >
              <div class="col m3" style="height: 150px;">              
                <%=  image_tag @pic.file.url(:thumb),:class =>"responsive-img",:style => "max-width: 100%;max-height: 100%;"  if @pic.present?  %> <!-- notice the "circle" class -->
              </div>
              <div class="col m9">
                <h4 class="media-heading">
                  <%= link_to listing.title, listing %>
                </h4>
             
               <li class="inline">Total Rooms: <%=listing.bedrooms%> room(s)</li>             
               <li class="inline">Rooms for rent: <%=listing.rooms_for_rent%> room(s)</li>
                <li class="inline">Rent per Month: <%=listing.rent%> Rs.</li>    
               <li class="inline">Available  form: <%=listing.available_from%></li>
               <li class="inline">Minimum Stay: <%=listing.minimumstay%> month(s)</li>


              </div>
            </div>
          </div>
        <% end %>
    </div>